body {
  background: #e6eae300;
  display: flex;
  justify-content: center;   
  align-items: center;
  height: 100vh;
}

.ball {
  width: 70px;
  height: 70px;
  background: #3313d5;
  border-radius: 50%;
  position: relative;
  animation: bounce 1s infinite alternate;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(200px);
  }
}
